[project]
name = "loadsettings"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pyyaml>=6.0.3",
    "toml>=0.10.2",
    "xmltodict>=1.0.2",
]
